template container Panel(Cycleshooter/Running_man)
{
	metrics_mode pixels
	material Cycleshooter/Running_man
	horz_align center
	vert_align center
	width 64
	height 64
}

template container Panel(Cycleshooter/Gun)
{
	metrics_mode pixels
	material Cycleshooter/Gun
	horz_align center
	vert_align center
	width 64
	height 64
}

Cycleshooter/VirtualCrosshair
{
    zorder 200

    container Panel(VirtualCrosshairPanel)
    {
        metrics_mode pixels
        horz_align center
        vert_align center
        left -64
        top -64
        width 128
        height 128
        material Cycleshooter/VirtualCrosshair
    }
}

Cycleshooter/RealCrosshair
{
    zorder 201

    container Panel(RealCrosshairPanel)
    {
        metrics_mode pixels
        horz_align center
        vert_align center
        left -64
        top -64
        width 128
        height 128
        material Cycleshooter/RealCrosshair
    }
}
