template container Panel(Cycleshooter/ContextModePanel)
{
	metrics_mode pixels
	horz_align center
	vert_align center
	width 64
	height 64
}

template container Panel(Cycleshooter/RunningModePanel) : Cycleshooter/ContextModePanel
{
	material Cycleshooter/RunningMan
}

template container Panel(Cycleshooter/ShooterModePanel) : Cycleshooter/ContextModePanel
{
	material Cycleshooter/Gun
}

template container Panel(Cycleshooter/CrosshairPanel)
{
        metrics_mode pixels
        horz_align center
        vert_align center
}

Cycleshooter/GreenCrosshair
{
    zorder 200

    container Panel(Cycleshooter/GreenCrosshairPanel) : Cycleshooter/CrosshairPanel
    {
        left -64
        top -64
        width 128
        height 128
        material Cycleshooter/GreenCrosshair
    }
}

Cycleshooter/RedCrosshair
{
    zorder 201

    container Panel(Cycleshooter/RedCrosshairPanel) : Cycleshooter/CrosshairPanel
    {
        left -32
        top -32
        width 64
        height 64
        material Cycleshooter/RedCrosshair
    }
}
